[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
[submodule "catkin_ws/src/ouster-gazebo-simulation"]
	path = catkin_ws/src/ouster-gazebo-simulation
	url = https://gitlab.laas.fr/gepetto/ouster-gazebo-simulation.git
