<?xml version="1.0"?>

<model>
  <name>Polaris Ranger EV</name>
  <version>1.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jaerock Kwon</name>
    <email>jrkwon@umich.edu</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    A model of the Polaris Ranger EV.
    - Plugins are added
    - Change "chassis" to "base_link"
  </description>

</model>