<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true"/>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="tf2" default="true"/>
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="rover"/>
    <arg name="world" default="$(find rover)/worlds/empty.world"/>
    <arg name="sdf" default="$(find rover)/models/$(arg vehicle)/model.sdf"/>
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />


    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="/dev/ttyACM0:57600"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- MAVROS -->
    <include file="$(find rover)/launch/mavros_launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value="udp://@localhost"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
        <arg name="tgt_system" value="$(arg tgt_system)" />
        <arg name="tgt_component" value="$(arg tgt_component)" />

    </include>


    <param name="robot_description" textfile="$(find rover)/models/$(arg vehicle)/model.urdf" />
    <!-- rviz -->
    <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find rover)/rviz/$(arg vehicle).rviz">
    </node> 
    <!-- tf2 -->
    <node if="$(arg tf2)" pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser"
        args="0.31 0 2.02 0 0 0 1.0 base_link ouster::os1_sensor">
    </node>
    


    <!-- Run two joy nodes publishing to the same topic, just to cover two possible joystick locations -->
    <node pkg="joy" type="joy_node" name="joy_node0">
        <param name="dev" value="/dev/input/js0"/>
    </node>
</launch>
