<?xml version="1.0"?>

<model>
  <name>do_not_enter</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>mir lab</name>
    <email>jkwon@kettering.edu</email>
  </author>

 

  <description>
   do not enter sign
  </description>

</model>
